*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    
}

.box
{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
     width: 100%;   
     height: 100vh;
     border: 0px;
     padding: 0%;
     
     margin: 0%;
     display: flex;
     flex-wrap: wrap;
     justify-content:space-around;   
     

     
}

.videobanner{
    bottom: 0%;
    right: 0%;
    left: 0%; 
   
    
    position: absolute;
    width: 100%;
    z-index:-1;
    margin: 0%;
    padding: 0%;
    border:0%;
}
.header{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.logo
{
    margin:15px;
    border: 0%;
    transition: 0.4s;
    height: 106px;
}
.logo:hover
{
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: 0px 0px 5px burlywood;
}
.headerbuttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 10px;
    
    outline: none;

}
#jk{
    color: white;
    margin:20px;

    
    transition: 0.5s;

}
#jk:hover
{
    transform: scale(1.1);
    
    
    border: solid white 3px;
    
    transition: 0.5s;
    cursor: pointer;
}
h1{
    color: burlywood;
    
     
}


input{
    outline: wheat;
    width: 200px;
    height: 50px;
    
    border-radius: 5px;
    text-indent: 30px;
    background: transparent;
    color: white;
    transition: 0.5s;

}

input:focus
{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px burlywood;
    
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 50px;
    background:  gray;
    color: wheat;
    font-size: 25px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

form{
    color:burlywood;

}
.button{
    color: burlywood;
    background: transparent;
    text-indent: 10px;
    cursor: pointer;
    transition: 0.3s;
    
}

.button:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
    



